<div class="item-container">
  <div class="item-container-content">
    <div class="item-container-header">{{ header }}</div>
    <div class="item tab-buttons">
      {{#each source:i}}
        <a name="tab-bt" class="tab-button bt-icon {{ active_tab == i ? 'active' : '' }}" on-click="update_current_tab:{{i}}">{{ label }}</a>
      {{/each}}
    </div>
  </div>
</div>

<script>
 component.exports = {
   data: function(){
     return {
       active_tab: 0
     };
   },
   oninit: function(){
     this.on('update_current_tab', function(e, i){
       this.set('active_tab', i);
     });
   }
 }
</script>