<div class="item-container" id="rainbow_container">
  <div class="item-container-content">
    <label class="item {{ buzzing ? 'buzzing' : '' }}">
      {{ label }}
      <input type="checkbox" class="item-toggle" checked="{{ value }}">
      <div class="item-styled-toggle-wrapper {{ footer ? 'with-footer': ''}}">
        <div class="item-styled-toggle">
          <div class="item-styled-toggle-bar"></div>
          <div class="item-styled-toggle-bar"></div>
          <div class="item-styled-toggle-bar"></div>
        </div>
      </div>
      <div class="item-container-footer">
        {{ footer }}
      </div>
    </label>
  </div>
</div>