<link rel="ractive" href="./ItemColor.html">
<link rel="ractive" href="./Toggle.html">
{{#if toggleFirst}}
<ItemColor color="{{ colorItemValue }}" label="{{ colorItemLabel }}" on-show="buzz" disabled="{{ colorItemDisabled }}"/>
{{/if}}
<Toggle buzzing="{{ buzzing }}" label={{ toggleLabel }} footer="{{ footer }}" value="{{ toggleValue }}"/>
{{#if !toggleFirst}}
<ItemColor color="{{ colorItemValue }}" label="{{ colorItemLabel }}" on-show="buzz" disabled="{{ colorItemDisabled }}"/>
{{/if}}

<script>
 component.exports = {
   data: function(){
     return {
       inverted: false,
       buzzing: false
     };
   },
   computed: {
     colorItemDisabled: function(){
       return this.get("inverted") ? !this.get("toggleValue") : this.get("toggleValue");
     }
   },
   oninit: function(){
     this.on('Toggle.clicked', function(event){
       this.fire('clicked', event);
     });
     this.on("buzz", function () {
       if(this.get("colorItemDisabled")){
         if(!this.get("buzzing")){
           this.set("buzzing", true);
           var ractive = this;
           setTimeout(function(){
             ractive.set("buzzing", false);
           }, 800);
         }
       }
     });
   }
 };
</script>
