<div class="item-container" on-click="clicked">
  <div class="item-container-content">
    <label class="item {{ buzzing ? 'buzzing' : '' }}">
      {{ label }}
      <input type="checkbox" class="item-toggle" checked="{{ value }}">
      <div class="item-styled-toggle-wrapper {{ footer ? 'with-footer': ''}}">
        <div class="item-styled-toggle">
          <div class="item-styled-toggle-bar"></div>
          <div class="item-styled-toggle-bar"></div>
          <div class="item-styled-toggle-bar"></div>
        </div>
      </div>
      <div class="item-container-footer">
        {{ footer }}
      </div>
    </label>
  </div>
</div>

<style>
  .item-container-footer {
    padding: 5px 0px 0px 0px;
  }

 .buzzing {
   -webkit-animation: 600ms buzz alternate ease-in-out;
   -moz-animation: 600ms buzz alternate ease-in-out;
   -ms-animation: 600ms buzz alternate ease-in-out;
   -o-animation: 600ms buzz alternate ease-in-out;
   animation: 600ms buzz alternate ease-in-out;
 }

 .with-footer {
     top: 18px;
 }

 @keyframes buzz {
   0%, 100% {
     transform: translate(0, 0);
   }

   10%, 30%, 50%, 70%, 90% {
     transform: translate(-3px, 0);
   }

   20%, 40%, 60%, 80% {
     transform: translate(3px, 0);
   }
 }
</style>
